*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.html {
  font-size: 62.25%; /* Changes the 1rem to 10px */
  font-family: 'Quicksand', sans-serif;
}

body {
  display: grid;
  grid-template-rows: 10vh 80vh 100vh 35vh;
  grid-template-columns: repeat(8, 1fr);
}

.navbar {
  width: 100vw;
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(2, 50%);

  align-items: center;
}

.brand {
  display: grid;
}

.title {
  grid-column: 1 / 2;

  font-size: 5rem;
  font-family: 'Bebas Neue', cursive;
  color: #13244E;

  justify-self: center;
  align-self: center;
}
.title:hover {
  color: #8892A6;
}

.nav {
  grid-column: 2 / 3;
  justify-self: center;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item:not(:last-child) {
  margin-right: 3rem;
}

.nav-link {
  color: #8892A6;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-decoration: none;

  transition: all .3s;
}
.nav-link:hover {
  color: #13244E;
}

.team-profile {
  grid-row: 2 / 3;
  grid-column: 1 / -1;

  display: grid;
  grid-template-rows: 80vh;
  grid-template-columns: 1fr 40vw 1fr;
}

.user1 {
  grid-column: 1 / 2;
  
  position: absolute;
  top: 25%;
  left: 20%;
}

.wm1 {
  grid-column: 1 / 2;

  position: absolute;
  top: 32%;
  left: 12%;
}

.wm2 {
  grid-column: 1 / 2;

  position: absolute;
  bottom: 30%;
  left: 14%;
}

.heading {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  text-align: center;
  font-size: 3.8rem;
  font-family: 'Bebas Neue', cursive;
  color: #13244E;
}

.highlight {
  background-color: #A1FCFD;
  border-radius: 5px;
  padding: .5rem;
  box-shadow: 1px 1px 4px #13244E;
}

.profile {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  text-align: center;
  color: #8892A6;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;

  padding-top: 15rem;
}

.user2 {
  grid-column: 3 / 4;

  position: absolute;
  bottom: 22%;
  right: 12%;
}

.m1 { 
  grid-column: 3 / 4;

  position: absolute;
  top: 32%;
  right: 12%;
}

.m2 {
  grid-column: 3 / 4;

  position: absolute;
  top: 57%;
  right: 12%;
}

.team {
  grid-row: 3 / 4;
  grid-column: 1 / -1;
}

.sub-heading {
  text-align: center;
  color: #8892A6;
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.cards {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  row-gap: 2rem;

  justify-items: center;
  align-items: center;
  margin-top: 2.5rem;
}

.card {
  height: 25rem;
  width: 17rem;
  border-radius: 1.5rem;
  border: 1px solid #8892A6;
  transition: all .5s;

  display: grid;
}
.card:hover {
  border: none;
  background-color: #13244E;
  transform: scale(1.02);
  box-shadow: .5rem .5rem .5rem #A1FCFD;
}

.card-img {
  justify-self: center;
  align-self: center;
}

.portrait {
  object-fit: cover;
  height: 12.5rem;
  width: 12.5rem;
  border: 2px solid #8892A6;
  border-radius: 50%;
}

#jakob {
  object-position: 0 -2rem;
}

.name {
  color: #8892A6;
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;

  padding-left: 1rem;
}
.card:hover .name {
  color: #A1FCFD;
}

.intro {
  color: #8892A6;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  padding: .75rem;
}
.card:hover .intro {
  color: #fff;
}

#card-1 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

#card-2 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

#card-3 {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

#card-4 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#card-5 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.footer {
  grid-row: 4 / 5;
  grid-column: 1 / -1;

  background-color: #13244E;
}